@import "tailwindcss";

:root {
  --baklava-control-color-primary: #EA5160;
  --baklava-control-color-background: #2d2d2d;
  --baklava-control-color-foreground: #cccccc;
  --baklava-control-color-hover: #3d3d3d;
  --baklava-control-color-active: #4d4d4d;
  --baklava-node-color-background: #222222;
  --baklava-node-color-foreground: #eeeeee;
  --baklava-node-color-hover: rgba(234,81,96,0.3);
  --baklava-node-color-selected: #EA5160;
  --baklava-node-title-color-background: #1a1a1a;
  --baklava-node-title-color-foreground: #ffffff;
  --baklava-node-color-resize-handle: #2d2d2d;
  --baklava-node-interface-port-color: #888888;
  --baklava-editor-background-pattern-default: #1a1a1a;
  --baklava-editor-background-pattern-line: #242424;
  --baklava-editor-background-pattern-black: #222222;
  --baklava-color-connection-default: #555555;
  --baklava-color-connection-allowed: #48bc79;
  --baklava-color-connection-forbidden: #bc4848;
  --baklava-context-menu-background: #222222;
  --baklava-sidebar-color-background: #1a1a1a;
  --baklava-sidebar-color-foreground: #cccccc;
  --baklava-toolbar-background: #1a1a1aaa;
  --baklava-toolbar-foreground: #cccccc;
  --baklava-node-palette-background: #1a1a1aaa;
  --baklava-node-palette-foreground: #cccccc;
}